<div class="row px-3">
    <div class="card bg-light col-10 my-5">
        <div class="card-body">
            <h1>{{name}}</h1>
            <h3>Birth date - {{birthdate}} ({{birthplace}})</h3>
            <h3>Death date - {{deathdate}} ({{deathplace}})</h3>
        </div>
        <p class="mx-2">Nationality: {{nationality}}</p>
        <p class="mx-2">Occupation: "{{occupation}}"</p>
    </div>
    <div class="col-5">
        <b>Known for:</b>
        <ul>
            {{#each known_for}}
            <li>"{{this}}"</li>
            {{/each}}
        </ul>
    </div>
    <hr>
    <section>
        <div class="row mt-3">
            <div class="col-6">
                <div>{{> title data="Education" big=true}}</div>
                <ul>
                    {{#each education}}
                    <li>
                        <div><b>Degree:</b> {{degree}}</div>
                        <br>
                        <div><b>Field:</b> {{field}}</div>
                        <br>
                        <div>{{institution}}, {{year}}</div>
                    </li>
                    {{/each}}
                </ul>
            </div>
            <br>
            <div class="col-6">
                <div>{{> title data="Notable publications"}}</div>
                <div>
                    <ul>
                        {{#each notable_publications}}
                        <br>
                        <li>
                            <div><cite><strong>"{{title}}",</strong></cite> ({{year}})</div>
                            <div><cite>"{{publisher}}"</cite></div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div>{{> title data="Partners"}}</div>
        <div>
            <ul>
                {{#each partners}}
                <br>
                <li>
                    <div>{{name}}, {{relationship}} </div>
                    <div>({{years}})</div>
                </li>
                {{/each}}
            </ul>
        </div>
        <div class="col-5 my-5 bg-success">
            <div>{{> title data="Awards"}}</div>
            <div>
                <ul>
                    {{#each awards}}
                    <li>
                        <div><strong>"{{title}}"</strong>, ({{year}}) </div>
                        <q>{{description}}</q>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <br>
        <div class="row mt-3">
            <div class="col-6">
                <div>{{> title data="Influences"}}</div>
                <div>
                    <ul>
                        {{#each influences}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-6">
                <div>{{> title data="Influenced"}}</div>
                <div>
                    <ul>
                        {{#each influenced}}
                        <li>{{this}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div>{{> title data="Quotes"}}</div>
        <div>
            <ul>
                {{#each quotes}}
                <br>
                <li>
                    <q>{{this}}</q>
                </li>
                {{/each}}
            </ul>
        </div>
        <br>
        <div>{{> title data="Major discoveries" big=true}}</div>
        <div>
            <ul>
                {{#each major_discoveries}}
                <br>
                <li>
                    <div><cite>"{{title}}",</cite>({{year}})</div>
                    <br>
                    <div><q>{{description}}</q></div>
                </li>
                {{/each}}
            </ul>
        </div>

        <br>

        <div>{{> title data="Contribution" big=true}}</div>
        <div>
            {{#with contributions}}
            <p><b>"{{title}}"</b> ({{field}})</p>
            <p>{{description}}</p>
            <p>{{year}}</p>
            {{/with}}
        </div>
    </section>
</div>