<div class="row p-3">
    <section class="mt-0">
        {{> title data= "Users:" big=true}}
    </section>
    <section>
        <div class="card col-6">
            <ol>
                {{#each users}}
                <li>
                    <h2>{{name}}</h2>
                </li>
                <div>id: {{id}}</div>
                <div>gender: {{gender}}</div>
                <div>age: {{age}}</div>
                <br>
                {{> title data= "Friends"}}
                <ol>
                    {{#each friends}}
                    <li>id: {{id}}</b></li>
                    <div>name: {{name}}</div>
                    <div>gender: {{gender}}</div>
                    <div>age: {{age}}</div>
                    <br>
                    <div><b>Mutual Friends</b></div>
                    <ul>
                        {{#each mutual_friends}}
                        <li>id: {{id}}</li>
                        <div>name: {{name}}</div>
                        <div>gender: {{gender}}</div>
                        <div>age: {{age}}</div>
                        <br>
                        <ul>
                            {{#each mutual_friends}}
                            <div><b>Mutual friends</b></div>
                            <br>
                            <li><b>{{name}}</b></li>
                            <br>
                            <div>Gender: {{gender}}</div>
                            <br>
                            <div>Age: {{age}}</div>
                            <br>
                            {{/each}}
                        </ul>
                        {{/each}}
                    </ul>
                    <div>
                        <h3>{{#if groups}} Groups {{/if}}</h3>
                    </div>
                    <ul>
                        {{#each groups}}
                        <li>id: {{id}}</li>
                        <div>name: {{name}}</div>
                        <div>description: {{description}}</div>
                        <br>
                        <div><b>Members</b></div>
                        {{#each members}}
                        <ul>
                            <br>
                            <li>id: {{id}}</li>
                            <div>name: {{name}}</div>
                            <div>gender: {{gender}}</div>
                            <div>age: {{age}}</div>
                            <br>
                        </ul>
                        {{/each}}
                        {{/each}}
                    </ul>
                    </ul>
                    {{/each}}
                    </ul>
                    <section>
                        <h3>{{#if groups}} Groups {{/if}}</h3>
                        <ul>
                            {{#each groups}}
                            <li>id: {{id}}</li>
                            <div>name: {{name}}</div>
                            <div>description: {{description}}</div>
                            <br>
                            <div><b>Members</b></div>
                            {{#each members}}
                            <ul>
                                <li>id: {{id}}</li>
                                <div>name: {{name}}</div>
                                <div>gender: {{gender}}</div>
                                <div>age: {{age}}</div>
                                <br>
                            </ul>
                            {{/each}}
                            {{/each}}
                        </ul>
                    </section>
                    {{/each}}
                </ol>
            </ol>
        </div>
    </section>
</div>