<div>
    {{#with person}}
    <section>
        <div>
            <h1>{{name}}</h1>
            <h2>Age:{{age}}</h2>
            <h3>Gender: {{gender}}</h3>
        </div>
    </section>
    <br>

    <div>
        {{#with address}}
        <em>
            <address>{{street}}, {{city}}, {{state}}, {{zip}}, {{country}}</address>
        </em>
        {{/with}}
    </div>

    <br>
    <hr>
    <section>
        <div>
            {{> title data= "Education" big=true}}
        </div>
        <div>
            <ul>
                {{#each education}}
                <li>
                    <div><b>Degree: {{degree}}</b></div>
                    <br>
                    <div>Major: {{major}}</div>
                    <br>
                    <div>{{university}}</div>
                    <br>
                    <div>{{graduationYear}}</div>
                </li>
                <br>
                {{/each}}
            </ul>
        </div>
    </section>
    <br>
    <hr>
    <section>
        <div>{{> title data="Work experience" big=true}}</div>
        <div>
            <br>
            <div>{{#each workExperience}}
                <div><b>Company:</b> {{company}}</div>
                <br>
                <div><b>Position:</b> {{title}} </div>
                <br>
                <div><b>Duration: </b>({{startDate}}) - ({{endDate}})</div>
                <br>
                <div><b>Responsibilities: </b></div>
                <div>
                    <ul>
                        {{#each responsibilities}}
                        <li>
                            <div>{{this}}</div>
                            <br>
                        </li>
                        {{/each}}
                    </ul>
                </div>
                <div><b>Year founded: </b>{{year_founded}}</div>
                <br>
                <div><b>Industry: </b>{{industry}}</div>
                <br>
                <br>
                <div>{{> title data= "Employees"}}</div>
                <div>
                    <ul>
                        {{#each employees}}
                        <br>
                        <li>
                            <div><b>Name:</b> {{name}}</div>
                            <br>
                            <div><b>Position:</b> {{position}}</div>
                            <br>
                            <div><b>Department:</b> {{department}}</div>
                        </li>
                    </ul>
                    <br>
                    <ul>
                        <div>
                            <h3>Projects: </h3>
                        </div>

                        <div>
                            <ul>
                                {{#each projects}}
                                <br>
                                <li>
                                    <div><b>Name:</b> {{name}}</div>
                                    <br>
                                    <div><b>Descriprion:</b> {{description}}</div>
                                    <br>
                                    <div><b>Status:</b> {{status}}</div>
                                </li>
                            </ul>
                        </div>
                        <br>
                        <ul>
                            <div>
                                <h3>Team:</h3>
                            </div>
                            <ul>
                                {{#each teams}}
                                <li>
                                    <div><b>Team name:</b> "{{team_name}}"</div>
                                    <br>
                                    <div>
                                        {{#with team_leader}}
                                        <div>{{name}} ({{title}})</div>
                                        <br>
                                        <div><a href="mailto:john.smith@example.com">{{email}}</a></div>
                                        {{/with}}
                                    </div>
                                </li>
                            </ul>
                            <ul>
                                <div>
                                    <h3>Team members</h3>
                                </div>
                                <ul>
                                    <div>
                                        {{#each team_members}}
                                        <br>
                                        <li>
                                            <div>{{name}} ({{title}})</div>
                                            <br>
                                            <div><a href="mailto:alice.johnson@example ">{{email}}</a>
                                            </div>
                                            <br>
                                        </li>
                                    </div>
                                </ul>
                                <ul>
                                    <div><b>Skills:</b> </div>
                                    <div>
                                        <ul>
                                            {{#each skills}}
                                            <br>
                                            <li>
                                                <div> {{this}}</div>
                                            </li>
                                            {{/each}}
                                        </ul>
                                        <br>
                                    </div>
                                </ul>
                                <ul>
                                    <div><b>Projects</b></div>
                                    <ul>
                                        <div>{{#each projects}}</div>
                                        <br>
                                        <li>Name: {{name}}</li>
                                        <br>
                                        <li>Description: {{description}}</li>
                                        <br>
                                        <li>Technologies: {{technologies}}</li>
                                        <br>
                                    </ul>
                                    <ul>
                                        <div><b>Team members</b></div>
                                        <ul>
                                            {{#each team_members}}
                                            <br>
                                            <li>
                                                <div>{{name}} ({{title}})</div>
                                            </li>
                                            {{/each}}
                                            {{/each}}
                                        </ul>
                                    </ul>
                                    {{/each}}
                                    {{/each}}
                                    {{/each}}
                                    {{/each}}
                                    {{/each}}
                                    {{/with}}
                </div>