<div class="row g-2">
    {{> breadcrumb}}
    {{#with productData}}
    <div class="col-6 me-5">
        <div>
            <img class="card-img-top" src="{{img}}">
        </div>
        {{#with info}}
        <div class="card my-4">
            <div class="card-body">
                <h4 class="card-title">{{title}}</h4>
                <p>{{about}}</p>
                <h3><b>{{price}}</b></h4>
                    {{#each category}}
                    {{#if isHot}}<button class="btn text-light text-bg-warning rounded-pill">{{name}}!</button>{{/if}}
                    {{#if isNew}}<button class="btn text-light text-bg-primary rounded-pill">{{name}}</button>{{/if}}
                    {{#if isBonus}}<button class="btn text-light text-bg-info rounded-pill">{{name}}</button>{{/if}}
                    {{/each}}
            </div>
        </div>
        {{/with}}
        <div class="card mb-5">
            <div class="card-body py-2">
                {{#each actionList}}
                {{#if isWarning}}<button class="me-3 btn btn-warning text-light">{{name}}</button>{{/if}}
                {{#if isError}}<button class="me-3 btn btn-outline-danger text-danger"><b>{{name}}</b></button>{{/if}}
                {{#if isSuccess}}<button class="me-3 btn btn-success text-light">{{name}}</button>{{/if}}
                {{#if isGood}}<button class="btn btn-outline-success text-success"><b>{{name}}</b></button>{{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="col-5">
        <table class="ms-5 mb-0 table table-stripped table-bordered">
            {{#with item}}
            <thead>
                {{#each head}}
                <th>
                    {{this}}
                </th>
                {{/each}}
            </thead>
            <tbody>
                {{#each body}}
                <tr>
                    <td>
                        {{this.[0]}}
                    </td>
                    <td>
                        {{this.[1]}}
                    </td>
                    <td>
                        {{this.[2]}}
                    </td>
                    {{/each}}
                </tr>
            </tbody>
            {{/with}}
        </table>
        <div class="ms-5 mt-3 card col-12">
            {{#with param}}
            <div class="card-header">{{title}}</div>
            <ul class="list-group list-group-flush">
                {{#each list}}
                <li class="list-group-item">{{this}}</li>
                {{/each}}
            </ul>
            {{/with}}
        </div>
        <div class="ms-5 mt-3 alert alert-danger col-12">
            {{#with alert}}
            {{#if isError}}<span class="text-danger">{{text}}</span>{{/if}}
            {{/with}}

        </div>
    </div>
    {{/with}}
</div>
<hr>
<div class="row">
    {{#with goodsOtherBlock}}
    <h2 class="text-center mt-4">{{title}}</h2>
    {{> shopcard}}
    {{/with}}
</div>
<hr>
{{> shopaction}}