<div class="row g-2">
    {{#with newsBlock}}
    <div class="pt-4 pb-2">
        <h4 class="text-center">{{title}}</h4>
    </div>
    {{#each cards}}
    <div class="col-3 mb-5 px-1">
        <div class="card text-bg-dark">
            <div class="card-header">{{title}} <span class="badge text-bg-danger">{{#if isTop}}Топ{{/if}}</span>
                <span class="badge text-bg-success">{{#if isNew}}Нова {{/if}}</span>
            </div>
            <p class="card-body">{{description}}</p>
        </div>
    </div>
    {{/each}}
    {{/with}}
    <hr>

    <div class="col-12">
        <div class="nav nav-tabs my-5">
            {{#with goodsBlock}}
            {{#each tabs}}
            <a href="#">
                {{#if isActive}}<span class="nav-item nav-link active">{{text}}</span>
                {{else}}
                <span class="nav-item nav-link {{#if isDisabled}}disabled {{/if}}">{{text}}</span>{{/if}}
            </a>
            {{/each}}
        </div>
    </div>
    {{> shopcard}}
    {{/with}}
    <hr>
    {{#with subscribe}}
    <div class="col-12">
        <div class="card mt-4 mb-5">
            <div class="card text-bg-dark">
                <h2 class="pt-2">{{header}}</h2>
                <p class="pt-2">{{description}}</p>
                {{#each buttons}}
                <div class="my-2">
                    <a href="{{link}}" class="btn btn-primary">{{text}}</a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</div>
<hr>
{{> shopaction}}