<div class="col-6">
    <div class="card">
        <img class="card-img-top" src="{{img}}">
        <div class="card-body">
            {{#if isHot}}<span class="badge text-bg-warning text-light text-uppercase me-2">Hot!</span>{{/if}}
            {{#if isHot}}<span class="badge text-bg-primary">Нове</span>{{/if}}
            <div class="mt-3">
                {{#if isFast}}<a class="btn btn-success btn-sm my-3">Швидка доставка</a>{{/if}}
                {{#if isFree}}<a class="btn btn-secondary btn-sm">Безкоштовна доставка</a> {{/if}}
            </div>
            <h6 class="mt-3">{{name}}</h6>
            {{#with review}}
            <p class="my-3">{{amount}} {{text}}</p>
            {{/with}}
            <h5>{{price}}</h5>
            <p>{{delivery}}</p>
            {{#each buttons}}
            <div class="my-2">
                {{#if isPrimary}}<a href="{{link}}" class="btn btn-primary">{{text}}</a>{{/if}}
                {{#if isSecondary}}<a href="{{link}}" class="btn btn-secondary">{{text}}</a>{{/if}}
            </div>
            {{/each}}
            <ul>
                {{#each characteristics}}
                <li>{{title}}: {{value}}</li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>